@import "./assets/css/reset.css";

/*******************************
          FONT-SIZE
********************************/

.fs-32 {
    font-size: 32px;
}

.fs-23 {
    font-size: 23px;
}

/*******************************
          FONT-WEIGHT
********************************/

.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

/*******************************
          Color
********************************/

.c-black {
    color: #333333;
}

.c-white {
    color: #ffffff;
}

/***********************
        ...class
************************/

.label {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
    color: #c2c2c2;
}
